/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/**/package-lock.json
*.xd
/**/*.xd
*.map
*.js.map
/**/*.map
/source/img/*
!/source/img/*.txt
/source/css/*
/source/js/main.min.js
!/source/css/README.md
!/source/img/src
/dist
/api/vendor
/unbounce/