/* Slick slider: */
$enable-slick-slider: true;

$slick-dots-color: blue;
$slick-dots-margin-bottom: 50px;
$slick-dots-color-inverse: false;



/* Fonts: */

$font-family: 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap';
$font-main: 'Open Sans', sans-serif;

//$font-family-2: 'https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap';
//$font-secondary: 'Calligraffitti', cursive;

//$font-family-3: 'https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap';
//$font-third: 'Caesar Dressing', cursive;


/* Calendly */
$calendly-enabled: true;

/* Video modal */
$video-modal-enabled: true;

/* Button Up */
$buttonUp: true;